# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\JavaProjects\Module_4\Week 2\thuchanh_qlykhachhang_data_repository\[M4L11]qly_khach_RESTful\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
